<launch>
  <arg name="model" default="burger"/>
  <arg name="x_pos" default="9.488605"/>
  <arg name="y_pos" default="11.702337"/>
  <arg name="z_pos" default="-0.001668"/>
  <arg name="Y_pos" default="1.5708"/>
  <arg name="P_pos" default="0"/>
  <arg name="R_pos" default="0"/>


  <!--arg name="pose" value="$(optenv ROBOT_INITIAL_POSE -x 9.488605 -y 11.702337 -z -0.001668 -Y 1.5708 -P 0 -R 0)"/-->
  <arg name="base"      value="$(optenv TURTLEBOT_BASE kobuki)"/> <!-- create, roomba -->
  <arg name="battery"   value="$(optenv TURTLEBOT_BATTERY /proc/acpi/battery/BAT0)"/>  <!-- /proc/acpi/battery/BAT0 --> 
  <arg name="gui" default="true"/>
  <arg name="stacks"    value="$(optenv TURTLEBOT_STACKS hexagons)"/>  <!-- circles, hexagons --> 
  <arg name="3d_sensor" value="$(optenv TURTLEBOT_3D_SENSOR kinect)"/>  <!-- kinect, asus_xtion_pro --> 


  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find hackathon)/worlds/level1.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  <node pkg="tf" type="static_transform_publisher" name="camera_tf" args="-1.95 -0.55 2.0 -1.58 0 -1.58 /odom /camera_link 100"/>
  
  <param name="robot_description" command="$(find hackathon)/description/xacro.py $(find hackathon)/description/turtlebot3_burger.urdf.xacro" />
  
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-urdf -model turtlebot3_burger -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) -R $(arg R_pos) -P $(arg P_pos) -Y $(arg Y_pos) -param robot_description" />

</launch>
